* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
  }
  
  h2,h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .form-control small {
    color: red;
    display: none;
  }
  
  .form-control input.invalid {
    border: 1px solid red;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }
  